<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="komp.css">
    <title>Bonz.ai</title>


</head>
<body>
    <div class="nav">
        <img class="nav__logo" src="bonz.ai-logo-white-landscape.png" alt="bonz.ai">
        <ul>
            <li class="nav__items">HOME</li>
            <li class="nav__items">CONTACT</li>
            <li class="nav__items">ABOUT</li>
        </ul>
        <button class="nav__button">BOOK NOW</button>
    </div>
    <br>
    <section class="cards">
        <img class="cards__img" src="05-day.jpg" alt="room pick">
        <h1 class="cards__title">LOREM IPSUM</h1>
        <p class="cards__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
        <p class="cards__details"> view details</p>
        <p class="cards__kr"> sek 20.000</p>
        <button class="cards__button"> BOOK ROOM</button>
    </section>
<br>
    
<img class="round--body" src="main-fine-dining.jpg" alt="">
<br>

<footer class="footer--body">
    <article>
        <h1 class="footer__links">LINKS </h1>
        <p class="footer__links__info">HOME</p>
        <p class="footer__links__info">ANOUT</p>
        <p class="footer__links__info">CONATCT</p>
    </article>

    <p class="footer__copy">@COPYRIGHT BONZ.AI 2023 </p>

    <p class="footer__newsletter">SUBSCRIBE TO OUR NEWSLETTER</h1>

    </footer>

    <br>

    <div class="circle--pil--body">
        <img class="circle__pil" src="pil.png" alt="">
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class="circle--heart--body">
        <img class="circle__heart" src="heart.png" alt="">
    </div>


</body>
</html>